<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="mx-auto text-center form p-4">
            <h1 class="py-2">Edit <%= bug.name %> </h1>
            <div>
                <form action="/projects/<%= project.id %>/bugs/<%= bug.id %>?_method=PUT " method="POST">
                    <div class="form-group">
                        <textarea class="form-control" name="description"
                            maxlength="200"><%= bug.description %> </textarea>
                    </div>
                    <h4>Status</h4>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="New" value="New"
                        <% if(bug.status === "New"){ %>checked<% } %> >
                        <label class="form-check-label" for="New">New</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="Open" value="Open"
                        <% if(bug.status === "Open"){ %>checked<% } %> >
                        <label class="form-check-label" for="Open">Open</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="Testing" value="Testing"
                        <% if(bug.status === "Testing"){ %>checked<% } %> >
                        <label class="form-check-label" for="Testing">Testing</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="Verified" value="Verified"
                        <% if(bug.status === "Verified"){ %>checked<% } %> >
                        <label class="form-check-label" for="Verified">Verified</label>
                    </div>
                    <div class="form-check form-check-inline">
                        </h1>
                        <input class="form-check-input" type="radio" name="status" id="Closed" value="Closed"
                        <% if(bug.status === "Closed"){ %>checked<% } %> >
                        <label class="form-check-label" for="Closed">Closed</label>
                    </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px">
                        <button class="btn-block btn btn-lg btn-primary">Submit!</button>
                    </div>
                </form>
                <a href="/projects/<%= project.id %>/bugs/<%= bug.id %>">Go back</a>
            </div>
        </div>
    </div>
    <%- include("../partials/footer") %>