<%- include("../partials/header") %>

<div class="container">
    <div class="text-center">
        <h1>Welcome <%= user %> </h1>
        <a type="button" class="btn btn-outline-warning margin-class new-button" href="/projects/new" >Create A New Project</a>
    </div>
    <table class="table table-striped table-hover" id="project-table">
        <thead id="project-th">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Deadline</th>
                <th scope="col">No. of Bugs</th>
            </tr>
        </thead>
        <% projects.forEach((project) => { %>
        <tbody>
            <tr class="link-row">
                <th scope="row"><a href="/projects/<%= project.id %>" class="stretched-link"></a><%= project.id %> </th>
                <td><%= project.name %> </td>
                <td><span class="link-span"> <%= project.description %> </span>
                </td>
                <td><%= project.status %> </td>
                <td><%= project.deadline %> </td>
                <td><%= project.no_of_bugs %> </td>
            </tr>
            <% }) %>
</div>

<%- include("../partials/footer") %>