<%- include("../partials/header") %>
<div class="container">
    <div class="jumbotron bugTron">
        <h1 class="display-4 text-center"><%= project.name.toUpperCase() %></h1>
        <p class="lead text-center"><%= project.description %> </p>
        <hr class="my-4">
        <p class="text-center">Status: <%= project.status %> </p>
        <p class="text-center">Deadline: <%= project.deadline %> </p>
        <div class="text-center">
            <a class="btn btn-warning" href="/projects/<%= project.id %>/edit" role="button">Edit</a>
            <form class="delete-form" action="/projects/<%= project.id %>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
        </div>
    </div>
    <div class="text-center">
        <a href="/projects">Go back</a>
    </div>
    <div class="text-center margin-class">
        <a type="button" class="btn btn-outline-warning" href="/projects/<%= project.id %> /bugs/new">Log A New Bug</a>
    </div>
    <table class="table table-striped table-warning table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Bug Name</th>
                <th scope="col">Bug Description</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <% bug.forEach((bug) => { %>
        <tbody>
            <tr class="link-row">
                <th scope="row"><a href="/projects/<%= project.id %>/bugs/<%= bug.id %>"
                        class="stretched-link"></a><%= bug.id %> </th>
                <td><%= bug.name %> </td>
                <td><span class="link-span"> <%= bug.description %> </span>
                </td>
                <td><%= bug.status %> </td>
            </tr>
            <% }) %>
</div>


<%- include("../partials/footer") %>